<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umn.mto.android.workzonealert"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light">
        <activity
            android:name=".ScanningActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".warning.WarningActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".imagewarning.ImageWarningActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Transparent" />

        <service android:name="com.umn.mto.android.workzonealert.SpeedDetectionService"></service>

        <receiver android:name="com.umn.mto.android.workzonealert.receiver.PhoneStateReceiver">
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".warning.WarningReceiver">
            <intent-filter android:priority="-1">
                <action android:name="com.umn.mto.android.warning.RAISE" />
                <action android:name="com.umn.mto.android.warning.STOP" />
            </intent-filter>
        </receiver>
        <receiver android:name=".imagewarning.ImageWarningReceiver">
            <intent-filter android:priority="-1">
                <action android:name="com.umn.mto.android.imagewarning.RAISE" />
                <action android:name="com.umn.mto.android.imagewarning.STOP" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter android:priority="-1">
                <action android:name="com.umn.mto.android.DOWNLOAD.START" />
            </intent-filter>
        </receiver>
    </application>

</manifest>